<form autoComplete="off" class="form" (submit)="searchUser()">
  <div class="form__content">
    <div class="form__searcher">
      <label for="username" class="form__label">Usuario</label>
      <input
        type="search"
        id="username"
        placeholder="Search username..."
        autofocus
        name="username"
        [(ngModel)]="username"
        [className]="!isValid ? 'form__search invalid' : 'form__search'"
      />

      @if (!isValid) {
      <div class="message">{{ message }}</div>
      }
    </div>

    <button type="submit" class="form__button">
      <app-icon-svg iconID="search" />
    </button>
  </div>
</form>
