.form {
  &__content {
    padding: var(--space-4) 0;
    display: flex;
    align-items: start;
    gap: var(--space-2);
    margin-left: auto;
    margin-right: auto;
  }

  &__searcher {
    width: var(--sizes-full);
  }

  &__label {
    display: none;
  }

  &__search {
    width: var(--sizes-full);
    padding: var(--space-3);
    color: currentColor;
    outline: none;
    border: 2px solid var(--gray-800);
    border-radius: var(--radii-lg);
    cursor: pointer;
    transition: var(--transition-property-common),
      var(--transition-easing-ease-in-out), var(--transition-duration-300);

    &:focus {
      border-color: var(--picton-blue-500);
    }

    &.invalid {
      border-color: var(--red-500);
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--fontSizes-sm);
    padding: var(--space-2);
    background-color: var(--picton-blue-500);
    border-radius: var(--radii-lg);
    cursor: pointer;
    transform: scale(1);
    transition: var(--transition-property-common),
      var(--transition-easing-ease-in-out), var(--transition-duration-300);

    &:hover {
      background-color: var(--picton-blue-600);
    }

    &:active {
      transform: scale(0.95);
    }
  }
}

.message {
  padding-top: var(--space-1);
  font-size: var(--fontSizes-sm);
  color: var(--red-400);
}
